#progress {
  display:none;
  z-index: 99;
/*  top: 0px;*/
/*  text-align: center;*/
/*  background: #00ADEE;*/
/*  padding: 4px 10px;*/
/*  color: white;*/
/*  margin: 0 auto;*/
/*  position: fixed;*/
/*  left:50%;*/

  border-radius: 10px;
  height: 150px;
  width: 150px;
  text-align:center;
  opacity: .5;
  background: #111;
  color: #eee;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 18px;
  font-weight: bold;
  margin: -75px 0 0 -75px;
  .spin {
    margin: 56px 0 45px 75px;
    height: 1px;
  }
}

/*nav #main-nav-bar li#link-to-cart #minicart a {*/
/*  font-size: 12px*/
/*}*/

/*nav #main-nav-bar li#link-to-cart #minicart a.button {*/
/*  font-size: 12px;*/
/*  color: white !important;*/
/*}*/

ul#minicart-items {
  margin: 0;
  list-style: none;
}

/*ul#minicart-items li{*/
/*  width: 90px;*/
/*  position: relative;*/
/*  float: left;*/
/*  min-height: 180px;*/
/*  padding: 5px 10px 0;*/
/*  text-align: center;*/
/*  text-transform: none;*/
/*}*/

/*#minicart {*/
/*  background-color:aliceBlue;*/
/*  z-index: 100;*/
/*  position: absolute;*/
/*  right: 16px;*/
/*  padding: 10px;*/
/*  border: 1px solid #DEDEDE;*/
/*  float:right;*/
/*  display: none;*/
/*  width: 300px;*/
/*}*/

/*ul#minicart-items li img{*/
/*  display: block;*/
/*  margin-left: 20px;*/
/*}*/

/*#minicart div#minicart-details a.button.checkout{*/
/*  float:right;*/
/*}*/

#link-to-cart span.amount {
  display: none;
}
#minicart .minicart-actions {
  display: none;
  text-transform: lowercase;
}
#minicart form { margin-bottom: 0px; }
#minicart #checkout-link { margin-top: -4px; }
#minicart-items, #minicart-items a { color: #aaa; }
#minicart-items .minicart-actions a {
  color: #E55137;
}

