<% revision = post.active_revision %>
<article>
  <%= render partial: 'monologue/posts/revision_header', locals: {revision: revision, post: post} %>
    <%= truncate_html(revision.content, length: 1000, omission: '...') %>
  <div class="tags" data-monologue="tags">
    <%= render post.tags %>
  </div>
  <%= link_to "Read More →", revision.full_url, class: "theme" %>
</article>

