<!-- ============== -->
<!-- Footer section -->
<!-- ============== -->

<footer id="footer">
	<div class="container">
		<section class="row foot">
			<article class="span3">
				<strong>Quick Links</strong>
  			<ul>
				  <%= render :partial => "spree/static_content/static_content_list", :collection => Spree::Page.visible.footer_links, :as => :page %>
					<li><%= link_to "Contact Us", spree.contact_path %></li>
				</ul>
			</article>
			<article class="span3">
				<strong>News</strong>
				<ul>
				  <% Monologue::Post.published.limit(3).each do |post| %>
				    <li>
					    <%= link_to post.title, post.full_url%>
					    <br />
					    <small>posted on <%= I18n.localize(post.published_at.to_date, format: :long) %></small>
				    </li>
			    <%end%>
				</ul>
			</article>
			<article class="span3">
				<strong>Tweets</strong>
				<div id="tweet"></div>
			</article>
			<article class="span3">
				<strong>Newsletter</strong>
				<div>
					<form class="form-inline">
					<input class="input-medium" type="text" placeholder="Email address">
					<button class="btn"><i class="icon-direction"></i></button>
					</form>
				</div>
				<address class="row-fluid">
					<div class="pull-left clabel"><i class="icon-location"></i></div>
					<div class="pull-left cdata">5601 W. Jackson St, Muncie, IN 47303</div>
				</address>
				<address class="row-fluid">
					<div class="pull-left clabel"><i class="icon-phone"></i></div>
					<div class="pull-left cdata">(765) 282-1004</div>
				</address>
			</article>
		</section>

	</div>
	<section class="row-fluid doubleline">
		<div class="container">
			<div class="span6">
				<div class="payment amex"></div>
				<div class="payment mastercard"></div>
				<div class="payment visa"></div>
				<div class="payment paypal"></div>
				<!--
				<div class="payment cirrus"></div>
				<div class="payment delta"></div>
				<div class="payment direct-debit"></div>
				<div class="payment discover"></div>
				<div class="payment ebay"></div>
				<div class="payment googlecheckout"></div>
				<div class="payment maestro"></div>
				<div class="payment moneybookers"></div>
				<div class="payment sagepay"></div>
				<div class="payment solo"></div>
				<div class="payment switch"></div>
				<div class="payment visaelectron"></div>
				<div class="payment 2checkout"></div>
				<div class="payment westernunion"></div>
				-->
			</div>
		</div>
	</section>

	<section class="row-fluid social">
		<div class="container">
		<div class="pull-left">&copy; 2012 Serenity</div>
		<div class="pull-right">
			<ul>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
			</ul>
		</div>
		</div>
	</section>
</footer>

